// Variables refer to LANDSCAPE orientation
$width: 1366px;
$height: 1024px;
$statusBar: 20px;
$commandBar: 0px;
$actionBar: 44px;
$tabBar: 48px;
$menu: 67%;
.tablet-view.iPad12_9 {
    padding: 62px 112px 63px 113px;
    width: $width;
    height: $height;
    background-image: url("#{$img}/tablets/ios/iPad_12_9.png");
    .tablet-screen-view .status-bar {
        height: $statusBar;
        background-image: url("#{$img}/ui_phone_controls/ios/status_bar_ipad12_9.png"); 
    }
    .action-bar {
        height: $actionBar;
        line-height: $actionBar;
    }
    .action-bar .bar-content-menu {
        margin-left: 58px;
        color: #FFFFFF;
        font-size: 22px;
    }
    .app-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        background-color: #F9F9F9;
        width: $menu;
        height: $height - $statusBar - $commandBar;
        top: $statusBar;
    }
    .app-menu-shadow {
        position: absolute;
        background-color: #000000;
        opacity: 0.5;
        width: 100% - $menu;
        height: $height - $statusBar - $commandBar;
        top: $statusBar;
        left: $menu;
    }
    &.withTabs {
        .tab-menu {
            display: flex;
            justify-content: space-around;
            align-content: center;
            align-items: flex-end;
            background-color: rgb(247, 247, 247);
            width: 100%; 
            height: $tabBar; 
        }
        .view-controller-preview-view {
            width: $width;
            height: $height - $statusBar - $actionBar - $tabBar - $commandBar;
        }
    }
    .view-controller-preview-view {
        width: $width;
        height: $height - $statusBar - $actionBar - $commandBar;
    }
    .command-bar {
        height: $commandBar;
    }
    .control-grid-view-cell,
    .control-grid-view-cell .grid-image,
    .control-grid-view-cell .grid-image-empty {
        height: 185px;
        width: 185px;
    }
    .control-card .card-buttons {
        padding-top: 18px;
    }
    &.rotated {
        padding: 113px 62px 112px 63px;
        width: $height;
        height: $width;
        background-image: url("#{$img}/tablets/ios/iPad_12_9_rotated.png");
        .tablet-screen-view .status-bar {
            background-image: url("#{$img}/ui_phone_controls/ios/status_bar_ipad12_9_rotated.png"); 
        }
        .app-menu {
            height: $width - $statusBar - $commandBar;
        }
        .app-menu-shadow {
            height: $width - $statusBar - $commandBar;
        }
        &.withTabs {
            .view-controller-preview-view {
                width: $height;
                height: $width - $actionBar - $statusBar - $tabBar - $commandBar;
            }
        }
        .view-controller-preview-view {
            width: $height;
            height: $width - $actionBar - $statusBar - $commandBar;
        }
    }
}