$background_default: #F44336;
$background_darker: #D32F2F;
$background_highlight: white;
$color_default: white;
$color_highlight: #EE2945;
$background_selected: #E0E0E0;

.navbar-default {
    background-color: $background_default !important;
    border-color: $background_highlight !important;
    padding: 0;
    .navbar-brand {
        color: $color_default;
        margin-left: 10px;
        margin-right: 50px;
        &:hover, &:focus {
            color: $color_default;
        }
    }
    .navbar-text {
        color: $color_default;
    }
    .navbar-nav {
        >li {
            min-width: 110px !important;
            text-align: center;
            >a {
                background-color: $background_darker !important;
                color: $color_default;
                padding: 15px;
                cursor: hand;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: $color_highlight;
                    background-color: $background_highlight !important;
                }
            }
        }
        >.active {
            >a,
            >a:hover,
            >a:focus {
                color: $color_highlight;
                background-color: $background_selected !important;
            }
        }
    }
    .navbar-toggle {
        border-color: $background_highlight;
        &:hover,
        &:focus {
            background-color: $background_highlight !important;
        }
    }
    .navbar-collapse {
        height: auto !important;
    }
}
